.banner{
  background-image: url("../../images/background.png");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  color: white;
}

.container{
  margin: 0 auto;
  width: 600px;
}

.banner p {
  color: rgb(223, 204, 204);
}
